.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.*
tmp/
.sass-cache/
.DS_Store
.idea/
.*.sw[op]
sunspot-solr.pid
coverage/
chromedriver.log
public/system/
scrapers/node_modules/
scrapers/cache/
solr/
design/
scrapers/products
zeus.json
bin/
