html, body {
color:black;
height:100%;
}
body {
    font-family:helvetica,arial,freesans,clean,sans-serif;
    font-size:0.8em;
}

table
{
    font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size:0.9em;
    border-collapse: collapse;
    width:95%;
}

table th {
    background-color:#EAEAEA;
    border-bottom:1px solid #D8D8D8;
    color:#999999;
    font-weight:normal;
    padding:0.5em 0.5em;
    text-align:left;
}
table td {
    background:#F8F8F8;
    border-bottom:1px solid #E1E1E1;
    color:#484848;
    padding:0.5em 0.5em;
}

p {
    margin:1em;
}

.availabilities, .pairs {
    margin:0.2em 1.0em 1em;
}

h1 {
    font-size:1.4em;
    margin:0.8em;
}
h2 {
  font-size:1.2em;
  margin:1.2em 0.8em 0.3em;
}


#header {
    font-size:2.5em;
    padding:20px;
    background-color:#DADADA;
    font-family:Courier new,helvetica,arial,freesans,clean,sans-serif;;
}

input,select {
    font-size:1.3em;
    padding:0.2em;
    border:1px solid #999;
    margin:0.2em;
}
select {
    font-size:1.2em;
}

input {
   width:35em;
}
table input, .submit input {
   width:auto;
}
table input {
    font-size:1.1em;
    cursor:pointer;
    margin:-2px;
    padding:1px;
}

.username input, .email input{
    width:15em;
}

#availability_project, #availability_tags {
width:35em;
}


#logo {float:left;}
#how {float:right;}
.clear{
    clear:both;
    font-size:0;
}
#logo a {
    color:#000;
    text-decoration:none;
}
.nav{
    margin:1.5em;
}
#tagline {
    font-style:italic;
    font-size:0.4em;
    margin-left:1em;
    float:left;
}
input#user_openid_identifier,
input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 2px 50%;
  color: #000;
  padding-left: 20px;
  width:34.2em;
}
.fieldWithErrors {
    display:inline;
    margin:1em; 
}

#user_nav {
    float:right;
    text-align:right;
    margin:.5em 0 0;
    font-size:0.4em;
}
form label {
    margin:0.2em;
    font-size:1.4em;
}

.errorExplanation {
    color:#cc0000;
}

.duration, .time, .project {
    font-weight:bold;
}

tr.paired, tr.paired td {
    background-color:#66ff66;
}
tr.suggested, tr.suggested td {
    background-color:#ffff66;
}

#calendarInstructions {
    float:right;
    margin-top:-30px;
    font-style:italic;
}

/* Additions to calendarflow */


.calendarFlow .event .summary {
    font-size:13px;
}

.calendarFlow .event .summary span  {
    font-weight:normal;
}
.calendarFlow .event .summary p  {
    font-weight:bold;
}
.calendarFlow .event a  {
    color:#fff;
    text-decoration:underline;
}