<h1>New user</h1>
<% if !params[:openid_identifier].nil? %>
    <h2>
        <p>It looks like this is your first time here, as I don't know that OpenID.</p>
        <p>
            Please complete the form below to complete your registration. Or <%= link_to "login", new_user_session_url%> with a different OpenID
        </p>
    </h2>
<% end %>
<%= render :partial => 'form' %>