.calendarFlow {
    font-family:Arial,Helvetica;
    overflow:hidden;
    position:relative;
    cursor:move;
}
.calendarFlow .calendarEventsWrapper {
    height:100%;
    width:100%;
    position:relative;
    overflow:hidden;
    z-index:0;
    background-color:white;
}
.calendarFlow .timelineWrapper{
    position:relative;
    top:-22px;
}
.calendarFlow  .events {
    z-index:0;
}
.calendarFlow .timeline,.calendarFlow  .events {
    position:relative;
}
.calendarFlow .dayHeaders .dayHeader,.calendarFlow .events .day {
    position:absolute;
    text-align:center;
}
.calendarFlow  .dayHeaders {
    position:relative;
}
.calendarFlow .dayHeaders .dayHeader {
    z-index:1;
    width:45px;
    height:14px;
    margin:3px 0;
    font-size:11px;
}
.calendarFlow .events .day  {
    height:100%;
    border-left:1px solid #999;
}
.calendarFlow .daysWrapper{
    height:20px;
    position:relative;
    z-index:3;
    background-color:#0781fd;
    color:#fff;
    overflow:hidden;
}

.calendarFlow .timeline {
    clear:both;
    width:45px;
    position:relative;
    z-index:2;
    font-size:12px;
    text-align:center;
    background-color:#3297fd;
    color:#fff;
    opacity:0.6;
}
.calendarFlow .timeline .time {
    width:45px;
    z-index:3;
    overflow:hidden;
}
.calendarFlow .events .sun,.calendarFlow .events .sat{
    background-color:#ddffdd;
}
.calendarFlow .events .prevDay, .events .currentDay,.calendarFlow .events .nextDay  {
    border:0;
}
.calendarFlow .events .currentDay{
    border-bottom:1px solid blue;
    border-top:1px solid blue;
}
.calendarFlow .events .prevDay,.calendarFlow .events .nextDay  {
    background-color:#eee;
}
.calendarFlow .events .mon .prevDay,.calendarFlow .events .sun .prevDay,.calendarFlow .events .fri .nextDay,.calendarFlow .events .sat .nextDay  {
    background-color:#eeffee;
}
.calendarFlow abbr {border-bottom:none;}
.calendarFlow .event {
    text-align:left;
    background-color:#85a3e1;
    width:100%;
    font-size:12px;
    overflow:hidden;
    color:white;
    border:1px solid white;
}
.calendarFlow .event h3 {
    margin:0;
    padding:3px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px dashed white;

}

.calendarFlow .controls {
    position:absolute;
    top:50px;
    left:100px;
    border:1px solid black;
    background:#ccc;
    opacity:0.5;
    z-index:1000;
}
.calendarFlow .controls span {
    display:block;
    cursor:pointer;
    margin:2px;
    padding:2px;
    font-size:12px;
}
.calendarFlow .events .date_1 {
    border-left:1px solid red;   
}